.react-calendar {
  width: 360px;
  max-width: 100%;
  font-family: "Mulish", sans-serif;
  line-height: 1.125em;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
  transition: all 0.15s;
}

/* Navigation START */
.react-calendar__navigation {
  display: flex;
  height: 44px;
  background-color: #0d101a;
  padding-inline: 25px;
  margin-bottom: 1.5px;
}

.react-calendar__navigation__arrow .react-calendar__navigation__prev2-button,
.react-calendar__navigation__arrow .eact-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__label {
  font-size: 1.1em;
  color: white;
  /* font-family: "Philosopher", sans-serif; */
}

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  border-radius: 9px;
  color: white;
  padding-bottom: 5px;
  &:hover {
    background-color: #e0efff1f;
    color: #ebd9ad;
  }
}

.react-calendar__navigation__arrow {
  font-size: 24px;
}
/* Navigation END */

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #0d101a;
}

.react-calendar__month-view__weekdays__weekday {
  padding-block: 13px;
  color: white;
  font-size: 12px;
  abbr {
    text-decoration: none !important;
  }
}

/* Color of days, months, years that breaks one cycle */
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: rgba(210, 210, 210, 0.6) !important;
}

/* YEARS */
/* Yeats wrapper */
.react-calendar__decade-view {
  animation: calendar-custom-animation 0.4s cubic-bezier(0.23, 1, 0.32, 1) both;
  background: #0d101a;
}
/* Years tiles */
.react-calendar__decade-view .react-calendar__tile {
  background: #0d101a;
  color: white;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  padding-block: 22px;
  border-radius: 10px;
  &:hover {
    color: #ebd9ad !important;
  }
}

/* MONTHS */
/* Months wrapper */
.react-calendar__year-view {
  animation: calendar-custom-animation 0.4s cubic-bezier(0.23, 1, 0.32, 1) both;
  background: #0d101a;
}
/* Months tiles */
.react-calendar__year-view .react-calendar__tile {
  background: #0d101a;
  color: white;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  padding-block: 22px;
  border-radius: 10px;
  &:hover {
    color: #ebd9ad !important;
  }
}

/* DAYS */
/* Days wrapper */
.react-calendar__month-view__days {
  animation: calendar-custom-animation 0.4s cubic-bezier(0.23, 1, 0.32, 1) both;
  background: #0d101a;
}
/* Days tiles */
.react-calendar__month-view__days .react-calendar__tile {
  background: #0d101a;
  color: white;
  text-align: center;
  font: inherit;
  font-size: 0.8em;
  padding-block: 13px;
  border-radius: 10px;
}
/* Days of weekend */
.react-calendar__month-view__days__day--weekend {
  color: rgba(210, 210, 210, 0.6) !important;
}

/* Different states styles */
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #e0efff1f;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e0efff1f;
}

.react-calendar__tile--now {
  color: #ebd9ad !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: transparent;
}

.react-calendar__tile--hasActive {
  color: #ebd9ad !important;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #e0efff1f;
}

.react-calendar__tile--active {
  color: #ebd9ad !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #e0efff1f;
  color: #ebd9ad;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

@media only screen and (max-width: 888px) {
  .react-calendar {
    width: 320px;
  }

  .react-calendar__navigation {
    padding-inline: 18px;
  }
}

@media only screen and (max-width: 420px) {
  .react-calendar {
    width: 320px;
  }

  .react-calendar__navigation {
    padding-inline: 10px;
  }
}

@keyframes calendar-custom-animation {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
